<%- include("../layouts/adminheader"); -%>

    <div class="container main-title">

        <h2 class="page-title">Add a category</h2>
        <a href="/admin/categories" class="btn btn-info mt-2">Back to all categories</a>
    </div>
    <br><br>


    <div class="container table-style">

        <form method="post" action="/admin/categories/add-category">
            <div class="form-group">
                <label for="">Title</label>
                <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            <button class="btn btn-info mt-2 button-style" type="submit">submit</button>
        </form>
    </div>

    <%- include("../layouts/adminfooter"); -%>