<% layout('/layouts/boilerplate.ejs')%>
    <h1 class="text-center">HERE MY,TODOS LIST</h1>
    <div class="m">

        <ul id="I" class="list-group">
            <% for(let r of routine){%>
                <div class="c">
                    <li class="bala" onclick="deleteItem(`<%=r._id%>`)" id="<%=r._id%>" class="text-center">
                        <%=r.list%>-<%=r.time%>
                    </li><br>
                </div>
                <% } %>

        </ul>
        <div id="ONE"></div>

    </div>
    </div>
    <div class="a">
        <a href="/routine/new">ADD HERE</a>
    </div>
    <style>
        body {
            background: olivedrab;
        }

        .c {
            width: 400px;
            height: auto;
            border: 2px solid red;
            background-color: seashell;
            text-align: center;
        }

        .m {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-content: center;



        }

        .a {
            text-align: center;

        }

        a {
            text-decoration: none;
        }
    </style>
    <script>
        //const touch = $("li:first");
        //const touch = document.getElementsByClassName(".bala")

        /*touch.addEventListener("click", function () {
            //alert("hey you touched it..");
            console.log("mritynjay....");
    
        });*/


        function deleteItem(id) {
            const accepter = document.getElementById("ONE");
            const choti = document.getElementById(id).innerText;
            //accepter.style.background = "red";
            console.log(accepter);
            accepter.innerHTML += `<form action="/routine/${id}?_method=DELETE" method="post" id="one">
                    <label for=${choti}>${choti}</label >
                    <input type="submit" value="delete" form="one" >
                         </form>`;
            return accepter;
        }
    </script>