<%- include("./layouts/header"); -%>
    <div class="homeImage">
        <div class="inner-class">
            WELCOME to ShoppingMarket
        </div>
        <div class="shop-now">
            <a href="/products">Shop Now</a>
        </div>
    </div>

    <%- include("./layouts/footer"); -%>