<%- include("./layouts/header"); -%>
    <div class="homeImage">
        <div class="inner-class">

            We love you</br>
            Cart is waiting for you..</br>
            welcome here
        </div>
        <a href=" /products">
            <button class="btn btn-info">Shop now</button></a>

    </div>

    <%- include("./layouts/footer"); -%>