<%- include("./layouts/header"); -%>
    <div class="homeImage">
        <div class="inner-class">
            We love you</br>
            Cart is waiting for you</br>
            welcome here
        </div>
        <a href=" /products" style=" padding: 0.5em">
            <button class="btn btn-warning" style="font-weight: bold; width: 150px;
             height: 50px; padding: 5px; cursor: pointer; border-radius: 20px;background-color: rgb(202, 92, 41);
           font-family: Arial, Helvetica, sans-serif;  ">Shop now</button></a>
        <!-- <a href=" /products" class="btn btn-warning">Shop now</a> -->

    </div>

    <%- include("./layouts/footer"); -%>