@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
.all-body {
  width: 45%;
  margin: auto;
  background-color: azure;
  /* background-color: bisque; */
}
.header {
  margin-top: 5px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 70px;
  margin-left: 10px;
}
.span {
  color: rgba(0, 183, 255, 0.904);
  min-width: 80px;
  max-width: 350px;
}
.content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.image {
  width: 40%;
}
.text-content {
  width: 60%;
  padding: 15px;
  text-align: justify;
 word-break:break-all;
  
 
}

.upper-text {
  text-align: justify;
  margin-top: 10px;
}
.text-content h5 {
  font-size: 1em !important;
}
.button-type {
  border: 1px solid white;
  width: fit-content;
  padding: 8px;
  border-radius: 20px;
  background-color: rgb(64, 200, 224);
  color: white;
  margin-bottom: 3px;
}

.forflex-element {
  background-color: rgba(0, 183, 255, 0.589);
  width: 100%;
  /* margin-bottom: 10px; */
  margin-top: 20px;
}
.card-text {
  padding: 15px 20px;
  color: white;
}
.own-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.first-part {
  color: white;
}
.second-part {
  color: white;
  position: relative;
  right: 30px;
}

.link1 {
  margin-top: -20px;
}
.img3 {
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 10px;
}

.imaginary {
  margin-left: 10px;
}
.all {
  display: flex;
}
.card-text h6,
p {
  margin-bottom: 0px;
}
.bottom-part {
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: x-small;
  font-weight: 400;
  word-spacing: -0.5px;
  color: #ffffff;
  z-index: 99;
}
.bottom-part p {
  margin-bottom: 0px;
  line-height: 20px;
}
.google {
  width: 100px;
  height: 50px;
}
.apple {
  width: 100px;
  height: 50px;
}
.qr {
  width: 80px;
  height: 80px;
}
.logo1 {
  width: 100px;
  height: 70px;
}
.fa {
  font-size: 30px;
  margin-left: 10px;
  text-decoration: none;
}
.fa-facebook {
  color: white;
}
.fa-twitter {
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-instagram {
  color: white;
}
.first-site {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-top: 10px;
}
.sec-site {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-top: 10px;
}
.take-it-easy {
  text-align: justify;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.second-part p {
  margin-top: 0px;
  padding-right: 15px;
  margin-bottom: 16px;
}

.card-text p {
  text-align: justify;
}
.bi-youtube {
  color: white;
  margin: 5px 20px;
}
.bi:hover {
  color: rgba(0, 0, 255, 0.438);
}
.first-part p {
  margin-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .all-body {
    width: 100%;
    /* padding: 2px; */
  }
  .own-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
  }
  .first-part p {
    padding-left: 0px;
  }
  .second-part p {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .first-part {
    margin: auto;
  }
  .second-part {
    color: white;
    margin: auto;
    position: relative;
    right: 0px;
    margin-top: 10px;
  }
  .logo {
    width: 100px;
    height: 50px;
    margin-left: 5px;
  }
  .span {
    text-align: left;
    /* padding-right: 100px; */
    /* display: none; */
    font-size: small;
  }
  .forflex-element {
    width: 100%;
  }
   .text-content {
    max-height: 200px;
    overflow: auto;
  }
  div.text-content::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 577px) {
  .all-body {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .all-body {
    width: 55%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1000px) {
  .all-body {
    width: 50%;
  }
}
