h1:hover{
    background-color: chartreuse;
}
.jumbotron {
   /*padding: 2rem 1rem;*/
   /*ctrl+d times*selecting all at same time..
   put curser at anywhere and press alt then you can able to write same thing everywgere..
   */

    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    background-color: #f4511e; /* Orange */
    color: #ffffff;
     padding: 100px 25px;
     margin-left:-20%;
     margin-right: -20%;
     fill-opacity: .7;
  }
  .container-fluid {
   padding: 60px 50px;
  }
  body{
    /*background-image: url("./lifelesson2.jpg");
    background-image: url("C:/web/bala.jpg");*/
    
    
    background-image: url("https://image.shutterstock.com/image-illustration/blue-contemporary-bedroom-air-conditioner-600w-407295562.jpg");
      background:.8;
      background-size:cover;
      background-attachment: fixed;
     /* background-color: darkgray;*/
      background-color:#f4f4f4;
     /*alt+shift+downarrow for copying samearrow...
     ctrl+/(forward slash)  // for comment...
     */
     /* color: white; */
     font-weight: bold;
  }
    img{
			width: 80%;
			float:left;
			margin: 1.66%;
		}
    .remove-all-styles {
      all: revert;
    }